---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/React/Hero.tsx";
import InteractiveShowcase from "../components/React/InteractiveShowcase.tsx";
import UILibraries from "../components/React/UILibraries.tsx";
---

<Layout 
  title="React + Astro" 
  primaryBallColor="#61DAFB"  
  secondaryBallColor="#282c34" 
>

  <main>
    <Hero client:only="react"/>
    <UILibraries client:only="react" />
    <InteractiveShowcase client:only="react" />
  </main>
</Layout>
